@model Artifacts.Models.ViewModels.BlogPostViewModel


<h2>@Html.DisplayFor(model => model.Title)</h2>
<hr />
<div>
    @Html.Partial("_BlogPostBodyPartial")
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edited)
        </dd>

    </dl>
</div>
